:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  background-color: #e5e5e5;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* ============= COMPONENTS ============= */

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.modal-btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: #212121;
  background-color: #f5f4fa;
}

.modal-btn-filter:hover,
.modal-btn-filter:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}

.logo-light-theme {
  color: #000000;
}
.logo-dark-theme {
  color: #ffffff;
}

.titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */

.nav-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* ============= END HEADER ============= */

/* ============= HERO ============= */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* ============= END HERO ============= */

/* ============= FEATURES ============= */

.features-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/* ============= END FEATURES ============= */

/* ============= What are we doing ============= */

/* ============= END What are we doing ============= */

/* ============= OUR TEAM ============= */

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
/* ============= END OUR TEAM ============= */

/* ============= FOOTER ============= */

.address-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #ffffff;
}

.contact-list-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

/* ============= END FOOTER ============= */

/* ============= GALLERY ============= */

.gallery-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.gallery-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: #757575;
}

/* ============= END GALLERY  ============= */
