:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
  background-color: #e5e5e5;
  color: #757575;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}
/*цвет заголовка веб 2196F3 , студия 000000 шрифт Raleway; font-style: normal; font-weight: 700;
/навигация цвет основной #212121 позиционирования цвет 2196F3 шрифт Roboto  500
/ контакты цвет основной #757575 позийионирования 2196F3 шрифт Roboto  500
/ заголовок h1 FFFFFF шрифт Roboto  900
/ кнопка текст FFFFFF шрифт Roboto  700  кнопки цвет 2196F3 фокус 188CE8
h2 цвет #212121  шрифт Roboto  700
h3 цвет #212121  шрифт Roboto  500
текст цвет 757575 шрифт Roboto  400
тег адресс цвет FFFFFF шрифт Roboto  400 
цвет заголовка в футуре веб 2196F3 , студия FFFFFF шрифт Raleway; font-style: normal; font-weight: 700;
цвет кнопки фильтров F5F4FA цвет текста 212121 шрифт Roboto  500  фокус кнопка #2196F3 цвет текста FFFFFF
основной цвет фона E5E5E5
основной цвет текста #757575
*/

/* ============= COMPONENTS ============= */
.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  cursor: pointer;

  color: #ffffff;
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.modal-btn-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  color: #212121;
}

.modal-btn-filter:hover,
.modal-btn-filter:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

.logo {
  ont-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}

.logo-light-theme {
  color: #000000;
}
.logo-dark-theme {
  color: #ffffff;
}

.titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */

.nav-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* ============= END HEADER ============= */

/* ============= HERO ============= */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

/* ============= END HERO ============= */

/* ============= FEATURES ============= */

.features-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/* ============= END FEATURES ============= */

/* ============= What are we doing ============= */

/* ============= END What are we doing ============= */

/* ============= OUR TEAM ============= */

.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.team-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}
/* ============= END OUR TEAM ============= */
